

p {
    color: gray;
    font-size: 15px
 }

 .firstparagraph {
    color: blue;
 }

  .secondparagraph {
    color: pink;
 }

 .thirdparagraph {
    color: yellowgreen;
 }

 .fourthparagraph {
    color: green;
 }

 .fifthparagraph {
    color: red;
 }

 .sixthparagraph {
    color: orange;
 }